/* Globals */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
:root{
    --light-color:aliceblue;
    --dark-color:#333;
    --green-color:cadetblue;
    --purble-color:#6e2493;
    --red-color:#a41c1c;
    --font-family:system-ui;
    --border-radius: 5px;
    --letter-spacing: 1.5px;
    --font-size-small: 10px;
    --text-transform:uppercase
} 
html{
  scroll-behavior: smooth;
}
body {
      padding: 0;
      margin: 0;
      background-color: var(--dark-color);
      color: var(--light-color);
      font-family: var(--font-family);
      transition: 0.6s;
  }
 ::placeholder{
    text-transform: var(--text-transform);
    font-family:var(--font-family);
    color: var(--dark-color);
}
input{
  width: 100% ;
  padding: 10px;
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  font-family:var(--font-family);
}
input:focus{
  box-shadow:0 0 5px 2px var(--green-color) inset;
}
button{
  width: 100%;
  font-family:var(--font-family);
  padding: 10px;
  margin: 10px 0;
  background-color: var(--green-color);
  border: none;
  border-radius: var(--border-radius);
  color: var(--light-color);
  font-weight: bold;
  letter-spacing: var(--letter-spacing);
  cursor: pointer;
  text-transform: var(--text-transform);;
}
button:hover{
  box-shadow:0 0 5px 1px var(--light-color);
}
h1,h3{
  color: var(--green-color);
  margin: 10px;
  text-transform: var(--text-transform);;
  letter-spacing: var(--letter-spacing);
  text-align: center;
}
/***************************************** End Globals ******************************************/
/**************************** Start Light/dark mode theme ******************************************/
 body.light {
  background-color: var(--light-color);
  color: var(--dark-color);
}
button.light {
  background-color: var(--purble-color);
}
input.light {
  background-color: #d7d6d8;
  color: var(--dark-color);
}
input.light:focus {
  box-shadow:0 0 5px 1px var(--purble-color) inset;
}
h1.light,h3.light {
  color:  var(--purble-color);
}
.div-price> span.light { 
  background-color: var(--purble-color);
  color: var(--light-color);
}
.data-table td.light {
  color: var(--purble-color);
}
.table-header.light {
  border-top: solid 2px var(--dark-color);
}
.data-table.light {
  border-bottom: solid 2px var(--dark-color);
}
tr:first-child.light {
  border-top: 1pt solid var(--dark-color);
  border-bottom: 1pt solid var(--dark-color);
}
.color-mode {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 30px 20px 0;
}
.check ,
.check.light {
  position: relative;
  display: block;
  width: 55px;
  height: 29px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 5px 2px;
}
.check {
  background-color: var(--light-color);
}
.check.light {
  background-color: var(--dark-color);
}
.bullet ,
.bullet.light {
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.bullet {
  left: 5px;
  background-color: var(--dark-color) !important;
}
.bullet.light {
 right: 5px;
 background-color: var(--light-color) !important;
 transform: translateX(22px);
}
/**************************** End Light/dark mode theme ******************************************/
/****************************** Start Content & Search sections ******************************/
  .content,
  .search ,
  .data {
    padding: 0 25px;
  }
 .div-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 .div-price> input {
      width:20% !important;
  }
.div-price> span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: var(--green-color);
      padding: 5px;
      border-radius: var(--border-radius);
  }
.div-price> span::before {
    content: 'Total: ';
  }
  .btn-hidden {
    display: none;
    width: 49%;
    margin-right: 10px;
  }
  /****************************** End Content & Search sections ******************************/
  /********************************* Start Data sections *************************************/
.data {
    overflow-x: auto;
    margin-top: 20px;
  }
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px var(--light-color);
  }
.data-table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: solid 1px var(--light-color);
}
.data-table > tbody:first-child>tr {
  text-transform: var(--text-transform);;
  color: var(--green-color);
  font-size: 16px;
  font-weight: bold;
}
 tr:first-child {
    border-top: 1pt solid var(--light-color);
    border-bottom: 1pt solid var(--light-color);
}
tr:not(:last-child) {
    border-bottom: 1pt solid lightgray;
}
.data-table tr td {
 padding: 10px;
}
.actions-buttons {
    width: auto;
    padding: 6px;
    font-size: var(--font-size-small);
}
  /********************************* End Data sections *********************************/

  /********************************* Start Media query *********************************/
@media (min-width:320px) {
.container{
      padding: 10px;
    }
  }
@media (min-width: 576px) {
.container{
      padding: 20px;
    }
    .search > button:not(:last-of-type) {
      width: 49% !important;
  }
  .search-buttons {
    display: flex;
    justify-content: space-between;
  }
  .btn-small{
    width: 45% !important;
  }
.head> h1{
      font-size: 20px;
    }
  }
@media (min-width: 768px){
    .container{
      padding: 25px;
    }
    .search > button:not(:last-of-type) {
      width: 49% !important;
  }
  .search-buttons {
    display: flex;
    justify-content: space-between;
  }
  .btn-small{
    width: 45% !important;
  }
.head> h1{
      font-size: 22px;
    }
  }
@media (min-width: 992px){
    .container{
      padding: 30px;
    }
.head> h1{
      font-size: 24px;
    }
  }
  /********************************* End Media query *********************************/
  